/* General Styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Container Styles */
.container {
    width: 80%; /* Set a max-width if needed */
    margin: 0 auto; /* Center the container */
    padding-bottom: 50px; /* Add some space at the bottom */
}

/* Media Queries */
@media (max-width: 768px) {
    .timeline-marker .timeline-icon {
      width: 20px; /* Smaller size for icons on mobile */
      height: 20px;
    }
    /* Other responsive adjustments */  
    .container {
        width: 95%; /* Allow more space on smaller screens */
    }

    .contact-info {
        position: static;
        margin-top: 10px;
    }
}
