/* Contact Information Styles */
.contact-info {
    position: absolute;
    top: 30px; /* Adjust to move contact info towards the top of the page */
    right: 850px; /* Adjust to move contact info towards the right of the page */
    z-index: 10; /* Ensure it's above other elements */
}

/* Adjust the positioning for GitHub and LinkedIn icons */
.icon.github,
.icon.linkedin {
    margin: 0;
    padding: 0;
    position: relative; /* Ensure relative positioning within the contact-info container */
    display: inline-block; /* Ensure icons are displayed in the same line */
}

.icon.github img,
.icon.linkedin img {
    width: 75px; /* Standardize the icon size */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Align image properly within the link */
    margin-right: 10px; /* Add some space between the icons */
}
/* Skills Icons Styles */
.skills-icons {
    position: absolute;
    top: 50%;
    left: calc(50% + 10px); /* Adjust as necessary for horizontal centering */
    transform: translate(-42%, -42%); /* Adjust vertical centering as needed */
    width: 600px; /* Adjust if necessary for the size of the circle */
    height: 600px; /* Adjust if necessary for the size of the circle */
}

.skill-icon {
    position: absolute;
    width: 70px; /* Set the width for your icons */
    height: 70px; /* Set the height for your icons */
    --radius: 300px; /* Set the radius of your circle */
    --index: 0; /* Initial value for index, will be overwritten inline */
}

/* Skill Icon Positions */
.skill-icon {
    --angle: calc(var(--index) * 25.7deg);
    top: calc(50% + var(--radius) * sin(var(--angle)) - 30px); /* Adjust the offset to center the icons */
    left: calc(50% + var(--radius) * cos(var(--angle)) - 30px); /* Adjust the offset to center the icons */
    transform: translate(-50%, -50%);
}
