.timeline {
  border-left: 2px solid black;
  position: absolute;
  height: 50%; /* Set height to 100% of the container */
  width: 2px;
  top: 0; /* Align the top of the timeline with the container */
}

#school-timeline {
  left: 500px;
  top: 1200px;
   /* Adjust the left position for the school timeline */
}

#work-timeline {
  right: 500px;
  top: 1200px; /* Adjust the right position for the work timeline */
}

.skill-icon {
  /* ... existing styles ... */
  border: 2px solid transparent; /* Prepare for color */
  border-radius: 50%; /* Assuming the icons are circular */
  transition: border-color 0.3s ease-in-out; /* Smooth transition for color change */
}

